
#sidebar,
#menu-bar,
.nav-chapters,
.mobile-nav-chapters {
    display: none;
}

#page-wrapper.page-wrapper {
    transform: none;
    margin-left: 0px;
    overflow-y: initial;
}

#content {
    max-width: none;
    margin: 0;
    padding: 0;
}

.footer {
    display: none;
}

.page {
    overflow-y: initial;
}


body {
    font-family: "NVIDIA Sans", "Open Sans", sans-serif;
    margin: 0;
    font-size: 11pt;
    overflow-x: hidden;
}

code {
    font-family: "Roboto Mono", "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
    font-size: 9pt; /* please adjust the ace font size accordingly in editor.js */

    /* Force background to be printed in Chrome */
    -webkit-print-color-adjust: exact;
}

table {
    font-size: 9pt;
}

pre > .code {
    background-color: #f2f2f2;
    border-radius: 5px;
}

pre > .buttons {
    z-index: 2;
}

a, a:visited, a:active, a:hover {
    color: var(--links);
    text-decoration: none;
}

h1 {
    border-top: #76b900 solid 1px;
    margin-bottom: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
    page-break-inside: avoid;
    page-break-after: avoid;
}

pre, code {
    page-break-inside: avoid;
    white-space: pre-wrap;
}

.fa {
    display: none !important;
}
